* {
  background-color: black;
  text-align: center;
}
h1 {
  color: white;
}

#main-header {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

a {
  color: aquamarine;
  font-size: 21px !important;
}

#secondaryHeader {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
  padding-top: 10px;
}

#greySubHeader {
  font-family: Verdana;
  font-size: 21px;
  color: gray;
}

#watermark {
  text-align: right;
  color: gray;
}
